<div class="blog-page padding">

  <a class="add-button new-blog-button" href="/new-blog">+</a>

  {{#if blogposts.length}}
    {{#each blogposts}}
      <div class="blog-container">
        <h2 class="title text-primary">{{Title}}</h2>
        <p class="blog-date">{{Date}}</p>
        <p class="blog-descr">{{Description}}</p>
        <p class="blog-pic">{{Picture}}</p>
        <h5 class="comments-title">Comments ({{../comments.length}})</h5>

        {{!-- Form for creating comment --}}
        <div class="card-title h4 form-title">Create comment</div>
        <form action="/blog" method="post">
          <div class="form-group">
            <label class="form-label">Name</label>
            <input class="form-input" type="text" name="name" placeholder="Write your name here...">
          </div>
          <div class="form-group">
            <label class="form-label">Comment</label>
            <input class="form-input" type="text" name="comment" placeholder="Write a comment...">
          </div>
          <input class="btn btn-primary comment-button" type="submit" value="Send">
        </form>
      </div>

      {{#if ../comments.length}}
        {{! Loop that prints all the comments }}
        {{#each ../comments}}
          <div class="comment-container">
            <div class="comment-grid">
              <p class="name">{{name}}</p>
              <p class="comment-date">{{date}}</p>
            </div>
            <p class="comment">{{content}}</p>
          </div>
        {{/each}}
        {{else}}
          <p>No comments exists yet...</p>
      {{/if}}

    {{/each}}
    {{else}}
        <p>No blogposts exists yet...</p>
  {{/if}}

</div>


 

