<div class="blog-page padding-on-bottom">

{{#if session.isLoggedIn}}
  <a class="add-button new-blog-button" href="/new-blog">+</a>
{{/if}}

  {{! Display server error messages }}
  {{#if serverErrorMessages.length}}
    <div class="error-message-container bg-error">
      <ul class="error-message text-light">
        {{#each serverErrorMessages}}
          <li class="error-message-list">{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if blogposts.length}}
    {{#each blogposts as | blogpost |}}
      <div class="blog-container" id="blog/{{blogId}}">
        <h2 class="title text-primary float-left">{{blogTitle}}
          {{#if ../session.isLoggedIn}}
            {{!-- Edit button --}}
            <a href="/edit-blog/{{blogId}}"><img class="icons margin-left" src="/images/edit_icon_dark.png"  alt="Edit icon"/></a>

            {{!-- Delete button --}}
            <form
              action="/delete-blog/{{blogId}}"
              method="post"
              class="delete-button">
              <button type="submit" class="icon-button white-button">
                <img class="icons" src="/images/delete_icon_dark.png" alt="Delete icon" />
              </button>
            </form>
          {{/if}}
        </h2>
        <p class="blog-date">{{blogDate}}</p>
        <p class="blog-descr">{{blogDescription}}</p>
        <img class="blog-pic" src="/images/{{blogPicture}}" alt="Blog picture">

      
        {{#if ../errorOccured.length}}
          {{#ifEquals ../errorOccured blogpost.blogId}}
          
            {{! Display error messages }}
            {{#if ../errorMessages.length}}
              <div class="error-message-container-extended bg-error">
                <ul class="error-message text-light">
                  {{#each ../errorMessages}}
                    <li class="error-message-list">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
            
          {{/ifEquals}}
        {{/if}}
         

        {{!-- Form for creating comments --}}
        {{#unless ../session.isLoggedIn}}
          <div class="card-title h4 form-title" id="new-comment-section/{{blogId}}">Write a comment</div>
          <form action="/blog/{{blogId}}" method="post">
            <div class="form-group">
              {{!-- <input type="text" name="id" value="{{blogId}}"> --}}
              <label class="form-label">Name</label>
              <input class="form-input" type="text" name="name" placeholder="Write your name here...">
            </div>
            <div class="form-group">
              <label class="form-label">Comment</label>
              <input class="form-input" type="text" name="comment" placeholder="Write a comment...">
            </div>
            <input class="btn btn-primary send-comment-button" type="submit" value="Send">
          </form>
        {{/unless}}
      </div>
      {{!-- Show comments --}}
      {{#if ../comments.length}}
        <h5 class="comments-title" id="comment-section/{{blogId}}">Comments</h5>
        {{#each ../comments as | cmnt |}}
          {{!-- Show the right comments on the right blogpost --}}
          {{#ifEquals cmnt.blogId blogpost.blogId}}
            <div class="comment-container" id="comment/{{cmntId}}">
              <div class="comment-grid">
                <p class="name">{{cmntName}}</p>
                <p class="comment-date">{{cmntDate}}</p>
              </div>
              <div class="comment-grid ">
                <p class="comment">{{cmntContent}}</p>
                {{!-- Buttons for editing and deleting comment --}}
                <div class="float-right comment-icons">
                  {{#if ../../session.isLoggedIn}}
                    {{!-- edit button --}}
                    <a href="/edit-comment/{{cmntId}}" class="icon-button blue-button"><img class="icons" src="/images/edit_icon_light.png" alt="Edit icon"/></a>
                    {{!-- delete button --}}
                    <form action="/delete-comment/{{cmntId}}" method="post">
                      <button type="submit" class="icon-button blue-button"><img class="icons" src="/images/delete_icon_light.png" alt="Delete icon"/></button>
                    </form>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/ifEquals}}
        {{/each}}
        {{else}}
          <p>No comments exists yet...</p>
      {{/if}}

    {{/each}}
    {{else}}
        <p>No blogposts exists yet...</p>
  {{/if}}
</div>

 {{!-- Pagination --}}
<div class="blog-pagination">
<ul class="pagination">
  <li class="page-item disabled">
    <a href="#" tabindex="-1">Previous</a>
  </li>
  <li class="page-item active">
    <a href="#">1</a>
  </li>
  <li class="page-item">
    <a href="#">2</a>
  </li>
  <li class="page-item">
    <a href="#">3</a>
  </li>
  <li class="page-item">
    <span>...</span>
  </li>
  <li class="page-item">
    <a href="#">12</a>
  </li>
  <li class="page-item">
    <a href="#">Next</a>
  </li>
</ul>
</div>

