{{#if session.isLoggedIn}}

  {{#if project}}
    <p class="breadcrumb position-absolute">
      <a class="breadcrumb-link" href="/#projects">Projects</a>
      /
      <a
        class="breadcrumb-link"
        href="/project/{{project.projId}}"
      >{{project.projTitle}}</a>
      /
      <a class="breadcrumb-link">Edit project</a>
    </p>

    <div class="form-page">
      <div class="card form-container p-centered project-form-container ">
        <div class="card-header p-centered">
          <div class="card-title h3 form-title">Edit project</div>
        </div>

        {{! Display error messages }}
        {{#if errorMessages.length}}
          <div class="error-message-container bg-error">
            <ul class="error-message text-light">
              {{#each errorMessages}}
                <li class="error-message-list">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        <form
          action="/project/edit/{{project.projId}}"
          method="post"
          class="card-body side-margin"
        >
          <div class="form-content">
            <div>
              <div class="form-group">
                <label class="form-label">Title</label>
                <input
                  name="title"
                  class="form-input"
                  type="text"
                  placeholder="Title"
                  value="{{project.projTitle}}"
                  required
                />
              </div>
              <div class="form-group">
                <label class="form-label">Description</label>
                <textarea
                  class="form-input"
                  type="text"
                  placeholder="Description"
                  name="description"
                  rows="6"
                >{{project.projDescription}}</textarea>
              </div>
            </div>
            <div>
              <div class="form-group">
                <label class="form-label">Category</label>
                <select name="category" class="form-select text-dark">
                  <option hidden disabled>Choose an option</option>
                  <option {{#if illustrationSelected}}selected{{/if}}>Illustration</option>
                  <option {{#if gameSelected}}selected{{/if}}>Game development</option>
                  <option {{#if websiteSelected}}selected{{/if}}>Website</option>
                  <option {{#if graphicDesignSelected}}selected{{/if}}>Graphic design</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Date</label>
                <input
                  name="date"
                  class="form-input"
                  type="date"
                  max="{{currentDate}}"
                  value="{{project.projCreatedDate}}"
                />
              </div>
              <div class="form-group">
                <label class="form-label">Current Picture</label>
                <img
                  src="/uploads/{{project.projPictureName}}"
                  alt="thumbnail of project picture"
                  class="thumbnail-picture"
                />
                {{! Edit picture button }}
                <a href="/project/edit/picture/{{project.projId}}"><img
                    class="icons margin-left picture-edit-button"
                    src="/images/edit_icon_light.png"
                    alt="edit icon"
                  /></a>
              </div>

            </div>
          </div>
          <div class="button-container p-centered">
            {{!-- <a class="btn" href="/project/{{project.projId}}">Cancel</a> --}}
            <a href="/project/{{project.projId}}" class="btn">Cancel</a>
            <button type="submit" class="btn btn-primary">Confirm changes</button>
          </div>
        </form>

      </div>
    </div>

  {{else}}
    <img
      src="/images/low_opacity_clouds.png"
      alt="Illustration of clouds"
      class="cloud clouds-background"
    />
    <div class="locked-page">
        <h4 class="position-relative">This page cannot be found</h4>
    </div>
  {{/if}}

{{else}}
  <img
    src="/images/low_opacity_clouds.png"
    alt="Illustration of clouds"
    class="cloud clouds-background"
  />
  <div class="locked-page">
    <div class="not-logged-in-container">
      <p class="position-relative">You are not logged in :&lpar;. You need to be
        Logged in to access this page.</p>
      <a href="/login" class="btn btn-primary">Go to login</a>
    </div>
  </div>

{{/if}}