{{! Show the following if user is logged in }}
{{#if session.isLoggedIn}}

  {{#if blog}}
    {{! Breadcrumb }}
    <p class="breadcrumb position-absolute">
      <a class="breadcrumb-link" href="/blog?page={{pageNumber}}">Blog</a>
      /
      <a class="breadcrumb-link">Edit blog post</a>
    </p>

    {{! Container for editing blogpost  }}
    <div class="form-page">
      <form
        action="/blog/edit/{{blog.blogId}}"
        method="post"
        class="card form-container p-centered"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="page" value="{{pageNumber}}" />
        <div class="card-header p-centered">
          <div class="card-title h3 form-title">Edit blog post</div>
        </div>

        {{! Display error messages }}
        {{#if errorMessages.length}}
          <div class="error-message-container bg-error">
            <ul class="error-message text-light">
              {{#each errorMessages}}
                <li class="error-message-list">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{! The input fields }}
        <div class="card-body form-content side-margin">
          <div>
            <div class="form-group">
              <label class="form-label" for="blogTitle">Title</label>
              <input
                class="form-input"
                type="text"
                placeholder="Title"
                name="title"
                id="blogTitle"
                value="{{blog.blogTitle}}"
              />
            </div>
            <div class="form-group">
              <label class="form-label" for="blogDescription">Description</label>
              <textarea
                class="form-input"
                type="text"
                placeholder="Description"
                name="description"
                id="blogDescription"
                rows="7"
              >{{blog.blogDescription}}</textarea>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label class="form-label">Current Picture</label>
              <img
                src="/uploads/{{blog.blogPictureName}}"
                alt="thumbnail of blog picture"
                class="thumbnail-picture"
              />
              <label class="form-label new-pic" for="blogImg">Choose a new Picture</label>
              <input name="image" class="form-input" type="file" id="blogImg" accept="image/*" />
            </div>
          </div>

        </div>

        {{! The buttons at the end of the form }}
        <div class="button-container p-centered">
          <a class="btn" href="/blog?page={{pageNumber}}">Cancel</a>
          <button type="submit" class="btn btn-primary">Confirm changes</button>
        </div>
      </form>
    </div>

  {{else}}
    {{! Show the following if page can not be found }}
    <img src="/images/low_opacity_clouds.png" alt="Illustration of clouds" class="cloud clouds-background" />
    <div class="locked-page">
      <h4 class="position-relative">This page cannot be found</h4>
    </div>
  {{/if}}

{{else}}
  {{! Show the following if user is not logged in }}
  <img src="/images/low_opacity_clouds.png" alt="Illustration of clouds" class="cloud clouds-background" />
  <div class="locked-page">
    <div class="not-logged-in-container">
      <p class="position-relative">You are not logged in :&lpar;. You need to be Logged in to access this
        page.</p>
      <a href="/login" class="btn btn-primary">Go to login</a>
    </div>
  </div>

{{/if}}