{{#if session.isLoggedIn}}
  <p class="my-breadcrumb position-absolute">
    <a class="breadcrumb-link" href="/#projects">Projects</a>
    /
    <a class="breadcrumb-link">New project</a>
  </p>

  <div class="form-page">
    <div class="card form-container p-centered new-project-container">
      <div class="card-header p-centered">
        <div class="card-title h3 form-title">New project</div>
      </div>

      {{! Display error messages }}
      {{#if errorMessages.length}}
        <div class="error-message-container bg-error">
          <ul class="error-message text-light">
            {{#each errorMessages}}
              <li class="error-message-list">{{this}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      <form action="/new-project" method="post" class="card-body side-margin">
        <div class="form-content">
          <div>
            <div class="form-group">
              <label class="form-label">Title</label>
              <input
                name="title"
                class="form-input"
                type="text"
                placeholder="Title"
                value="{{title}}"
              />
            </div>
            <div class="form-group">
              <label class="form-label">Description</label>
              <textarea
                class="form-input"
                type="text"
                placeholder="Description"
                name="description"
                rows="6"
              >{{description}}</textarea>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label class="form-label">Category</label>
              <select
                name="category"
                class="form-select text-dark"
                value="{{category}}"
              >
                <option selected hidden disabled>Choose an option</option>
                <option>Illustration</option>
                <option>Game development</option>
                <option>Website</option>
                <option>Graphic design</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Date</label>
              <input
                name="date"
                class="form-input"
                type="date"
                max="{{currentDate}}"
                value="{{date}}"
              />
            </div>
            <div class="form-group">
            </div>
          </div>
        </div>
        <div class="button-container">
          <a class="btn" href="/#projects">Cancel</a>
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </form>
    </div>
  </div>

{{else}}

  <img
    src="/images/low_opacity_clouds.png"
    alt="illustration of clouds"
    class="cloud clouds-picture"
  />
  <div class="locked-page">
    <div class="not-logged-in-container">
      <p class="position-relative">You are not logged in :&lpar;. You need to be
        Logged in to access this page.</p>
      <a href="/login" class="btn btn-primary">Go to login</a>
    </div>
  </div>

{{/if}}