{{#if session.isLoggedIn}}
  {{! Breadcrumbs }}
  <p class="breadcrumb position-absolute">
    <a class="breadcrumb-link" href="/#projects">Projects</a>
    /
    <a class="breadcrumb-link">New project</a>
  </p>

  <div class="form-page">
    <div class="card form-container p-centered project-form-container">
      {{! Header  }}
      <div class="card-header p-centered">
        <div class="card-title h3 form-title">New project</div>
      </div>

      {{! Display error messages }}
      {{#if errorMessages.length}}
        <div class="error-message-container bg-error">
          <ul class="error-message text-light">
            {{#each errorMessages}}
              <li class="error-message-list">{{this}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{! Form for creating a project }}
      <form
        action="/project/create"
        method="post"
        class="card-body side-margin"
        enctype="multipart/form-data"
      >
        <div class="form-content">
          {{! Left colums }}
          <div>
            <div class="form-group">
              <label class="form-label" for="newProjTitle">Title</label>
              <input
                name="title"
                id="newProjTitle"
                class="form-input"
                type="text"
                placeholder="Title"
                value="{{title}}"
              />
            </div>
            <div class="form-group">
              <label class="form-label" for="newProjDescr">Description</label>
              <textarea
                class="form-input"
                type="text"
                placeholder="Description"
                name="description"
                id="newProjDescr"
                rows="6"
              >{{description}}</textarea>
            </div>
          </div>
          {{! Right column  }}
          <div>
            <div class="form-group">
              <label class="form-label">Category</label>
              <select name="category" class="form-select text-dark" value="{{category}}">
                <option selected hidden disabled>Choose an option</option>
                <option>Illustration</option>
                <option>Game development</option>
                <option>Website</option>
                <option>Graphic design</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="newProjDate">Date</label>
              <input
                name="date"
                id="newProjDate"
                class="form-input"
                type="date"
                max="{{currentDate}}"
                value="{{date}}"
              />
            </div>
            <div class="form-group">
              <label class="form-label" for="newProjFile">File</label>
              <input name="image" id="newProjFile" class="form-input" type="file" accept="image/*" />
            </div>
          </div>
        </div>
        {{! Buttons a the end of the form }}
        <div class="button-container">
          <a class="btn" href="/#projects">Cancel</a>
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </form>
    </div>
  </div>

{{else}}
  {{! Is shown when user is not logged in }}
  <img src="/images/low_opacity_clouds.png" alt="illustration of clouds" class="cloud clouds-background" />
  <div class="locked-page">
    <div class="not-logged-in-container">
      <p class="position-relative">You are not logged in :&lpar;. You need to be Logged in to access this
        page.</p>
      <a href="/login" class="btn btn-primary">Go to login</a>
    </div>
  </div>

{{/if}}