<div class="padding project-page">
  <p class="my-breadcrumb">
    <a class="breadcrumb-link" href="/#projects">Projects</a>
    /
    <a class="breadcrumb-link">{{project.projTitle}}</a>
  </p>
  <div class="project-container">
    <h2 class="title">{{project.projTitle}}
      {{#if session.isLoggedIn}}
        <a href="/edit-project/{{project.projId}}"><img
            class="icons margin-left"
            src="/images/edit_icon_light.png"
            alt="edit icon"
          /></a>
        {{! Delete button }}
        <form
          action="/projects/{{project.projId}}"
          method="post"
          class="delete-button"
        >
          <button type="submit" class="icon-button blue-button">
            <img
              class="icons"
              src="/images/delete_icon_light.png"
              alt="Delete icon"
            />
          </button>
        </form>
      {{/if}}
    </h2>
    <div class="project-content">
      <p class="project-descr">{{project.projDescription}}</p>
      <div class="date-category-container">
        <p class="project-date">Date: <br /> {{project.projDate}}</p>
        <p class="project-category">Category: <br />{{project.projCategory}}</p>
      </div>
    </div>
    <img
      class="project-pic"
      src="/images/{{project.projPicture}}"
      alt="Picture of a project"
    />
  </div>
</div>