<div class="padding project-page">
  <p class="my-breadcrumb">
    <a class="breadcrumb-link" href="/#projects">Projects</a>
    /
    <a class="breadcrumb-link">{{project.projTitle}}</a>
  </p>
  <div class="project-container">
    <h2 class="title">{{project.projTitle}}
      <a href="/edit-project/{{project.projId}}"><img
          class="icons margin-left"
          src="edit_icon_light.png"
        /></a><a href="/edit-project"><img
          class="icons"
          src="delete_icon_light.png"
        /></a>
    </h2>
    <div class="project-content">
      <p class="project-descr">{{project.projDescription}}</p>
      <div class="date-category-container">
        <p class="project-date">Date: <br /> {{project.projDate}}</p>
        <p class="project-category">Category: <br />{{project.projCategory}}</p>
      </div>
    </div>
    <img class="project-pic" src="{{project.projPicture}}" alt="" />

  </div>
</div>