<div class="padding project-page">
  <p class="my-breadcrumb"><a class="breadcrumb-link" href="/">Home</a>
    /
    <a class="breadcrumb-link">{{project.Title}}</a></p>

  <div class="project-container">
    <h2 class="title">{{project.Title}}</h2>
    <div class="project-content">
      <p class="project-descr">{{project.Description}}</p>
      <div class="date-category-container">
        <p class="project-date">Date: <br /> {{project.Date}}</p>
        <p class="project-category">Category: <br />{{project.Category}}</p>
      </div>
    </div>
    <img class="project-pic" src="{{project.Picture}}" alt="" />
  </div>
</div>