{{! Intro / start section }}
<div class="intro-container">
  <div class="p-fixed place-below">
    <div class="intro place-below intro-text-container">
      <div class="text-revealer"></div>
      <h1 class="place-below text-normal greeting">Hi, I'm Saga!</h1>
      <h2 class="place-below text-normal greeting-p2">Welcome to my page</h2>
    </div>
  </div>

</div>

{{! Project section }}
<div class="projects-container padding-on-bottom">
  <div class="project-section" id="projects">
    <h2 class="title">Projects</h2>
    {{! Buttons for sorting projects based on category }}
    <div class="filter-buttons-container">
      <a href="/#projects" class="chip all-button {{#if viewAllProjects}}btn btn-primary{{/if}}">All</a>
      <a href="/projects?category=Illustration#projects" class="chip ill-button
        {{#if illustrationsSelected}}
          btn btn-primary
        {{/if}}">Illustrations</a>
      <a href="/projects?category=Programming#projects"class="chip prog-button
        {{#if programmingSelected}}
          btn btn-primary
        {{/if}}">Programming</a>
      <a href="/projects?category=Graphic design#projects" class="chip gra-button
        {{#if graphicDesignsSelected}}
          btn btn-primary
        {{/if}}">Graphic design</a>
    </div>
  </div>

  {{! Display error messages }}
  {{#if errorMessages.length}}
    <div class="error-message-container bg-error">
      <ul class="error-message text-light">
        {{#each errorMessages}}
          <li class="error-message-list">{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{! Show add button if user is logged in }}
  {{#if session.isLoggedIn}}
    <a class="add-button add-proj-button" href="/project/create">+</a>
  {{/if}}
  {{! Grid of projects }}
  <div class="project-grid">
    {{#if projects.length}}
      {{#each projects}}
        <a href="/project/{{projId}}" class="img-responsive img-fit-cover image-proj-container">
          <img src="/uploads/{{projPictureName}}" class="project-picture" alt="Picture of a project"/>
          <div class="project-title">
             <h4 class="project-name">{{projTitle}}</h4>
             
          </div>
         
        </a>
        
      {{/each}}
    {{else}}
      <p class="p-centered">No projects exist.</p>
    {{/if}}
  </div>
</div>